@font-face {
    font-family: 'ACaslonPro-Regular';
    src: url('../fonts/ACaslonPro-Regular.woff2') format('woff2');
    src: url('../fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/arial rounded mt bold.woff2') format('woff2');
    src: url('../fonts/ArialRoundedMTBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-BoldMT';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2');
    src: url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.woff2') format('woff2');
    src: url('../fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MicrosoftNewTaiLu';
    src: url('../fonts/ntailu.woff2') format('woff2');
    src: url('../fonts/MicrosoftNewTaiLue.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MicrosoftSansSerif';
    src: url('../fonts/ms sans serif.woff2') format('woff2');
    src: url('../fonts/MicrosoftSansSerif.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    /*outline: 1px solid red;*/
}

html, body {
    font-size: 14px;
    font-family: 'ArialMT', 'Arial', sans-serif;
}

body {
    margin: 0;
}

select, button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

/*--------------------------------------------------стили для header header-top--------------------------------------------------*/

.header__top {
    background: #5389aa;
    padding-top: 15px;
}

.header-top__wrap {
    text-align: justify;
}

.header-top__wrap::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header__logo {
    display: inline-block;
    width: 310px;
    color: #ffffff;
    font-family: "ACaslonPro-Regular", 'Arial', sans-serif;
    font-size: 2rem;
    line-height: 24px;
    position: relative;
}

.header__logo::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/logo.png") center center no-repeat;
    position: absolute;
    top: 0;
    left: -10px;
}

.header-logo__block {
    display: inline-block;
}

.header-logo__logo-text {
    padding-left: 20px;
    padding-top: 30px;
}

.header-logo__text {
    font-family: "MicrosoftNewTaiLu", 'Arial', sans-serif;
    font-size: 1.15rem;
    padding-left: 22px;
}

.header__tel {
    display: inline-block;
    color: #ffffff;
    font-family: "ACaslonPro-Regular", 'Arial', sans-serif;
    font-size: 1.7rem;
}

.header-tel__link {
    display: inline-block;
    color: #ffffff;
}

/*--------------------------------------------------стили для header header-menu------------------------------------------------*/

.header__menu {
    background: #d7d7d7;
    position: relative;
    /*padding: 15px 0;*/
}

.header__menu::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #4b83a6;
}

.header-menu__wrap {
    text-align: justify;
    height: 49px;
}

.header-menu__wrap::after {
    content: '';
    display: inline-block;
    width: 100%;
    margin-bottom: 13px;
}

.header-menu__navigation {
    margin-left: -353px;
}

/*выравнивание с помощью псевдоэлемента*/
.header-menu__wrap nav,
.header-menu__login,
.header-menu__list {
    display: inline-block;
    vertical-align: middle;
}

.header-menu__wrap::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0;
    width: 0;
}

.header-menu__list {
    font-size: 0;
    /*padding-left: 20px;*/
    /*margin-left: -4px;*/
}

.header-menu-list__item {
    position: relative;
    display: inline-block;
}

.header-menu-list__item:last-child {
    margin-right: 0;
}

.header-menu-list__link {
    width: 106px;
    text-align: center;
}

.header-menu-list__link,
.header-menu__link {
    display: inline-block;
    color: #3a5362;
    font-family: "MicrosoftSansSerif", 'Arial', sans-serif;
    font-size: 1.15rem;
    padding: 15px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.header-menu-list__item--active {
    background: url("../img/tab.png") center 8px no-repeat;
    z-index: 100;
}

.header-menu-list__item--active a {
    color: #FFFFFF;
}

.header-menu__login {
    margin-right: 20px;
}

.header-menu-login__slash {
    margin-left: 5px;
}

.header-menu__link:hover,
.header-menu-list__item:hover .header-menu-list__link {
    color: #ff7108;
}

/*----------------------------------------------стили для carousel---------------------------------------------------------*/

.search-property {
    padding: 15px 0 10px;
    background: linear-gradient(45deg, #316c92, #3c94cb, #2d6990);
}

.carousel, .slick-track {
    width: 508px;
    height: 340px;
}

.carousel__slide {
    border: 10px solid #f2e8e8;

}

.carousel__slide2, .carousel__slide3 {
    display: none;
}

.carousel-img__wrap {
    width: 489px;
    height: 253px;
    overflow: hidden;
}

.carousel-img {
    max-width: 100%;
}

.carousel-text__wrap {
    position: relative;
    background: #1a425a;
    color: #ffffff;
    font-size: 1.4rem;
    width: 489px;
    height: auto;
    padding: 13px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-text__wrap::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #3686b8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.carousel-text__text {
    display: inline-block;
}

.carousel-text__desc {
    font-size: 1rem;
    margin-top: 10px;
}

.carousel__dots {
    height: 30px;
}

/*----------------------------------------------стили для tabs---------------------------------------------------------*/

.search-property__tabs {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-right: 155px;
}

.tabs__list-item  {
    height: 51px;
    float: left;
    font-family: "ArialRoundedMTBold", 'Arial', sans-serif;
    color: #ffffff;
    font-size: 1.15rem;
    margin-top: 12px;
}

.tabs__title {
    background-color: #c2f2ed;
    color: #4b83a6;
    font-family: "ArialRoundedMTBold", 'Arial', sans-serif;
    font-size: 1.6rem;
    padding: 12px 18px;
    border-radius: 15px 15px 0 0;
    margin-right: 5px;
}

.tabs__title:last-child {
    margin-right: 0;
}

.tabs__title-input {
    display: none;
}

.tabs__content {
    display: none;
    position: absolute;
    top: 49px;
    left: 0;
    padding: 20px 40px;
    width: 420px;
    height: 350px;
    border-radius: 0 15px 0 0;
    overflow-y: auto;
    background: linear-gradient(to bottom, #60a4ce, transparent);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'ArialMT', 'Arial', sans-serif;
}

.tabs__title-input:checked + .tabs__title {
    background-color: #60a4ce;
    color: #ffffff;
}

.tabs__title-input:checked ~ .tabs__content {
    display: block;
}

.tabs__title:hover {
    border-top: 2px solid #ffa765;
    -webkit-transition: border-top-color 0.3s;
    -moz-transition: border-top-color 0.3s;
    -ms-transition: border-top-color 0.3s;
    -o-transition: border-top-color 0.3s;
    transition: border-top-color 0.3s;
}

.tabs-content__text {
    display: inline-block;
    margin-bottom: 20px;
}

.search-property__wrap {
    text-align: justify;
}

.search-property__wrap::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.search__input {
    width: 339px;
    height: 44px;
    border: 3px solid #316e94;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.11) 0%, rgba(0, 0, 0, 0.11) 100%);
    border-radius: 8px;
    color: #347095;
    font-family: "MicrosoftSansSerif", 'Arial', sans-serif;
    font-size: 1.2rem;
    padding: 15px 0 15px 20px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.search__input:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.search__input:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.search__input:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.search__input:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.search-property__slider {
    display: inline-block;
}

.search-property__label {
    margin-top: 10px;
}

.search__checkbox {
    display: none;
}

.search__checkbox-text {
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.search__checkbox-text:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;
    width: 18px;
    height: 18px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.07), inset 0 0 0 2px #fcfdfd;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background: #e4e4e4;
}

.search__checkbox:checked + .search__checkbox-text:before {
    background: #e4e4e4 url("../img/Check.png") center center no-repeat;
}

.search-select__wrap {
    text-align: right;
}

.search-select__wrap2 {
    text-align: left;
}

.search-select-text__wrap {
    height: 30px;
}

.search-select__text {
    display: inline-block;
    text-transform: capitalize;
}

.search__select {
    width: 204px;
    height: 32px;
    margin: 15px 0 5px 20px;
    text-align: left;
}

.search__select-tab2 {
    margin: 20px 20px 0 0;
}

.search-select__btn {
    position: relative;
    display: inline-block;
    width: 204px;
    height: 40px;
    border: 3px solid #d7d7d7;
    background: linear-gradient(to top, #498ab2 0%, #6bb2dd 100%);
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 35px;
    margin-top: 30px;
}

.search-select__btn2 {
    margin-top: 35px;
}

.search-select__btn::after {
    content: '';
    display: inline-block;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100px;
    height: 100px;
    outline: 1px solid red;
    /*background-image: linear-gradient(to top, #ff6e02 0%, #ffa765 100%);*/
    /*opacity: 0;*/
    /*-webkit-transition: opacity 0.3s;*/
    /*-moz-transition: opacity 0.3s;*/
    /*-ms-transition: opacity 0.3s;*/
    /*-o-transition: opacity 0.3s;*/
    /*transition: opacity 0.3s;*/
}

.search-select__btn:hover {
    cursor: pointer;
}

.search-select__btn:hover::after {
    opacity: 1;
}

/*----------------------------------------------стили для services---------------------------------------------------------*/

.services {
    background-image: linear-gradient(to top, #c2f2ed 0%, #c2f2ed 1%, #edfffd 100%);
    padding: 15px 0 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*выравнивание с помощью таблицы*/
.services__wrap {
    text-align: justify;
    height: 160px;
    display: table;
    width: 100%;
}

.services__item {
    padding: 0 30px 0 0;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.services-item__title {
    color: #4484ad;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 0 20px;
    padding-left: 40px;
    position: relative;
}

.services-item__title::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/home.png") center center no-repeat;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -2px;
}

.services-item__text {
    color: #43515a;
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0 0 12px;
    line-height: 22px;
}

/*----------------------------------------------стили для items---------------------------------------------------------*/

.items__wrap {
    padding: 20px 30px 10px;
}

.item {
    width: 222px;
    height: 202px;
    display: inline-block;
    margin: 0 20px 20px 0;
}

.item:nth-child(4n) {
    margin-right: 0;
}

.item-img__wrap {
    width: 210px;
    height: 135px;
    overflow: hidden;
    border: 6px solid #e1dede;
}

.item__img {
    max-width: 100%;
}

.item-text__wrap {
    position: relative;
    padding: 10px;
    background-color: #4f8fb7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-family: "MicrosoftSansSerif", 'Arial', sans-serif;
    font-size: 1.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item-text__wrap::after {
    content: '';
    display: inline-block;
    width: 35px;
    height: 27px;
    background: url("../img/search.png") center center no-repeat;
    position: absolute;
    right: 10px;
    top: 17px;
}

.item-text__wrap:hover::after {
    cursor: pointer;
}

.item:hover .item__img {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

/*----------------------------------------------стили для registration---------------------------------------------------------*/

.registration {
    background: url("../img/bg_registr(1).jpg") center center;
}

.registration__wrap {
    padding: 15px 30px;
    text-align: justify;
}

.registration__item {
    display: inline-block;
    overflow: hidden;
}

.registration__member,
.registration__subscribe{
    width: 470px;
    height: 109px;
    margin-bottom: 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background: linear-gradient(to top, #679abb 0%, #82bbdf 100%);
    padding: 10px 23px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.registration__text {
    display: inline-block;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 400;
}

.registration__form {
    text-align: justify;
}

.registration__form:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.registration-form__input {
    display: inline-block;
    width: 150px;
    height: 32px;
    padding: 0 0 0 10px;
    border: 1px solid #74aacd;
    border-radius: 5px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.registration-form__input::-webkit-input-placeholder {
    color: #4b7d9b;
    font-size: 1.15rem;
    font-weight: 400;
}

.registration-form__input:-moz-placeholder {
    color: #4b7d9b;
    font-size: 1.15rem;
    font-weight: 400;
}

.registration-form__input::-moz-placeholder {
    color: #4b7d9b;
    font-size: 1.15rem;
    font-weight: 400;
}

.registration-form__input:-ms-input-placeholder {
    color: #4b7d9b;
    font-size: 1.15rem;
    font-weight: 400;
}

.registration-form__input:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.registration-form__input:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.registration-form__input:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.registration-form__input:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.registration-form__btn {
    width: 90px;
    height: 32px;
    border: 3px solid #d7d7d7;
    border-radius: 6px;
    background: linear-gradient(to top, #498ab2 0%, #6bb2dd 100%);
    color: #ffffff;
    font-size: 1.15rem;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.registration-form__btn:hover {
    cursor: pointer;
    background: linear-gradient(to top, #ff6e02 0%, #ffa765 100%);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;

}

.registration-form-input__email {
    width: 310px;
}

.registration-form-email__btn {
    width: 105px;
}

.subscribe__text {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.registration__signup {
    position: relative;
    width: 470px;
    height: 48px;
    margin-right: 17px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background: linear-gradient(to top, #679abb 0%, #82bbdf 100%);
    padding: 10px 23px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
}

.registration__signup::before {
    content: 'Signup Now';
    display: inline-block;
    width: 173px;
    height: 46px;
    position: absolute;
    top: 10px;
    right: -35px;
    z-index: 10;
}

.registration__signup::after {
    content: '';
    display: inline-block;
    width: 173px;
    height: 46px;
    background: url("../img/button.png") center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}

.registration__icons {
    width: 173px;
    height: 48px;
}

.registration-icons__link {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin-right: 10px;
}

.registration-icons__link:last-child {
    margin-right: 0;
}

.registration-icons__facebook {
    background: url("../img/facebook.png") center center no-repeat;
}

.registration-icons__twitter {
    background: url("../img/twitter.png") center center no-repeat;
}

.registration-icons__google {
    background: url("../img/google +.png") center center no-repeat;
}

/*----------------------------------------------стили для footer---------------------------------------------------------*/

.footer {
    padding-top: 25px;
    padding-bottom: 45px;
    background: #4b7d9b;
}

.footer__wrap {
    text-align: justify;
}

.footer__wrap::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer__item {
    outline: 1px solid red;
    width: 100px;
    height: 150px;
    display: inline-block;
}