@font-face {
    font-family: 'ACaslonPro-Regular';
    src: url('../fonts/ACaslonPro-Regular.woff2') format('woff2');
    src: url('../fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('../fonts/arial rounded mt bold.woff2') format('woff2');
    src: url('../fonts/ArialRoundedMTBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-BoldMT';
    src: url('../fonts/Arial-BoldMT.woff2') format('woff2');
    src: url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.woff2') format('woff2');
    src: url('../fonts/ArialMT.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MicrosoftNewTaiLu';
    src: url('../fonts/ntailu.woff2') format('woff2');
    src: url('../fonts/MicrosoftNewTaiLue.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MicrosoftSansSerif';
    src: url('../fonts/ms sans serif.woff2') format('woff2');
    src: url('../fonts/MicrosoftSansSerif.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    /*outline: 1px solid red;*/
}

html, body {
    font-size: 14px;
    font-family: 'ArialMT', 'Arial', sans-serif;
}

body {
    margin: 0;
}

select, button {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 30px;
}

/*--------------------------------------------------стили для header header-top-----------------------------------------------------*/

.header__top {
    background: #5389aa;
    padding: 15px 0;
}

.header__logo {
    display: inline-block;
    width: 319px;
    margin-right: 453px;
    color: #ffffff;
    font-family: "ACaslonPro-Regular", 'Arial', sans-serif;
    font-size: 2rem;
    line-height: 24px;
    word-wrap: break-word;
}

.header__logo::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../img/logo.png") center center no-repeat;
}

.header-logo__block {
    display: inline-block;
    margin-left: -25px;
}

.header-logo__text {
    font-family: "MicrosoftNewTaiLu", 'Arial', sans-serif;
    font-size: 1.15rem;
    margin-left: 32px;
}

.header__tel {
    display: inline-block;
    color: #ffffff;
    font-family: "ACaslonPro-Regular", 'Arial', sans-serif;
    font-size: 1.7rem;
}

.header-tel__link {
    display: inline-block;
    color: #ffffff;
}

/*--------------------------------------------------стили для header header-menu---------------------------------------------------*/

.header__menu {
    background: #d7d7d7;
    position: relative;
    /*padding: 15px 0;*/
}

.header__menu::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #4b83a6;
}

.header-menu__wrap {
    text-align: justify;
    height: 49px;
}

.header-menu__wrap::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header-menu__navigation {
    margin-left: -410px;
}

.header-menu__wrap nav,
.header-menu__login,
.header-menu__list {
    display: inline-block;
    vertical-align: middle;
}

.header-menu__wrap::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0;
    width: 0;
}

.header-menu__list {
    padding-left: 20px;
    margin-left: -4px;
}

.header-menu-list__item {
    position: relative;
    display: inline-block;
    margin-right: 40px;
}

.header-menu-list__item:last-child {
    margin-right: 0;
}

.header-menu-list__link,
.header-menu__link {
    display: inline-block;
    color: #3a5362;
    font-family: "MicrosoftSansSerif", 'Arial', sans-serif;
    font-size: 1.15rem;
    padding: 15px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.header-menu-list__item:hover .header-menu-list__link {
    color: #ffffff;
}

/*.header-menu-list__item::after {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*width: 106px;*/
    /*height: 44px;*/
    /*background: url("../img/tab.png") center center no-repeat;*/
    /*position: absolute;*/
    /*bottom: -5px;*/
    /*left: 0;*/
    /*z-index: 10;*/
/*}*/

.header-menu-login__slash {
    margin-left: 5px;
}

.header-menu__link:hover {
    color: #ff7108;
}

/*-----------------------------------------------стили для main__search-property------------------------------------------------*/

.main__search-property {
    padding: 15px 0 10px;
    background: linear-gradient(45deg, #316c92, #3686b8, #2d6990);
}

.carousel, .slick-track {
    width: 508px;
    height: 340px;
}

.carousel__slide {
    border: 10px solid #f2e8e8;

}

.carousel__slide2, .carousel__slide3 {
    display: none;
}

.carousel-img__wrap {
    width: 489px;
    height: 253px;
    overflow: hidden;
}

.carousel-img {
    max-width: 100%;
}

.carousel-text__wrap {
    position: relative;
    background: #1a425a;
    color: #ffffff;
    font-size: 1.4rem;
    width: 489px;
    height: auto;
    padding: 13px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-text__wrap::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #3686b8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.carousel-text__text {
    display: inline-block;
}

.carousel-text__desc {
    font-size: 1rem;
    margin-top: 10px;
}

.carousel__dots {
    height: 30px;
}